.title {
    margin: 40px 0 10px 10%;
    font-size: 4vw;
}

.container {
    margin: 30px 10%;
}

.container .line {
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
}

.container .line .card {
    text-align: center;
    border-radius: 20px;
    width: 25%;
    position: relative;
    transition: transform 0.4s ease;
}

.container .line .card:hover {
    transform: scale(1.05);
}

.container .line .card a img {
    width: 100%;
    border-radius: 20px;
    filter: brightness(0.8);
} 

.container .line .card a p {
    font-size: 2vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 568px) {
    .title {
        margin-top: 70px;
        font-size: 8vw;
    }

    .container .line {
        display: block;
    }

    .container .line .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .container .line .card a p {
        font-size: 6vw;
    }
}

