body {
    overflow: hidden;
}

.game {
    position: relative;
    height: 100vh;
}

.game img,
.game video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game .coverText {
    position: absolute;
    top: 0;
    left: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
}

.game .coverText h1 {
    font-size: 8vh;
    margin: 0;
}

.game .coverText h2 {
    font-size: 3vh;
    margin: 1vh 0 2vh 0;
    -webkit-text-stroke: 0.5px black;
}

.game .coverText a {
    width: fit-content;
    padding: 5px 15px;
    background-color: gray;
    border-radius: 20px;
    font-size: 3vh;
}

.game .coverText a:hover {
    filter: brightness(1.2);
}

.game .text {
   position: absolute;
   right: 50%;
   bottom: 15%;
   left: 10%;
   color: black;
   -webkit-text-stroke: 0.5px white;
   z-index: 3;
}

.game .text p {
    font-size: x-large;
}

.game .text a {
    background-color: gray;
    padding: 5px 15px;
    font-size: x-large;
    border-radius: 20px;
}

.game .text a:hover {
    filter: brightness(1.2);
}

/*Invisible link*/
.game .top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 25%;
    z-index: 2;
}

.game .bottom {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    height: 25%;
    z-index: 2;
}

.game .top:hover,
.game .bottom:hover {
    cursor: auto;
}

/*Up and down icon*/
.udBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up {
    position: absolute;
    top: 80px;
}

.down {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    .game .coverText {
        left: 50%;
    }
}

@media screen and (max-width: 567px) {
    .up {
        position: absolute;
        top: 110px;
    }
}

@media screen and (max-width: 450px) {
    .game .coverText {
        left: 30%;
    }

    .game .text p {
        font-size: large;
    }

    .game .text a {
        font-size: large;
    }
}